body{
    background-color: black;
}
.main-container{
    display: block;
    
}
.main-page{
    display: flex;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    margin-left: auto;
    background-color: white;
    border-radius: 25px;
    padding-right: 1vw;
    padding-left: 1vw;
    width: 9vw;
    height: 5vw;
}
.main-div{
    width: 50vw;
    height: 30vw;
}
.main-header img{
    max-width: 50px;
    max-height: 50px;
    
}
.selected{
    display: block;
}
.unselected{
    display: none;
}
.main-projects{
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.welcome-header{
    max-width: 10vw;
}
.welcome-div{
    color: wheat;
}
.welcome-intro{
    margin-left: 8vw;
}

