


.selected{
    display: block;
}
.unselected{
    display: none;
}
.welcome-message{
    display: block;
}
.project-1-div{
    display: none;
}
.project-2-div{
    display: none;
}
.project-3-div{
    display: none;
}